# Node.js dependencies
node_modules/

# Svelte build artifacts
public/build/
!.gitkeep

# Express application artifacts
dist/

# Environment variables
.env

# Editor and IDE files
.vscode/
.idea/
*.swp
